<!doctype html>
<html lang="en" xmlns="https://www.thymeleaf.org"
	th:replace="base::layoute(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>


	<section
		class="banner d-flex justify-content-center align-items-center">

		<div class="text-center">

			<h1 class="font-weight-bold">Smart Contact Manager63</h1>

			<p>Manage your contacts effortlessly with our intuitive and<br>
				powerful contact management system. Whether you need to store,<br>
				organize, or access your contacts quickly, SmartContact Manager
				provides the tools you need </p>


      
      
          <button id="colorChangeButton" class="btn bg-primary btn-lg text-white">Get Start</button>
      



		</div>
		
		
		


	</section>



</body>
</html>